/* Generic Styles */
/* front page */
body {
    font-family: arial;
    margin: 0;
}
#tabbar {
    margin-bottom: 15px;
}
nav#tabbar a, .formInput {
    color: white;
}
.text-center {
    text-align: center;
}

/* Style for Signup Form */
div.column-50 { /* Kolonner til Sign Up form */
    width: 49%;
    display: inline-grid;
}
#login { /* Centrer login formular */
    display: block;
    margin: 0 auto;
}
nav#tabbar, .signupForm {
    background: #525252;
    padding: 15px;
}
.signupForm, .formInput input {
    border-radius: 10px;
}
#signupbtn,#signInpbtn {
    background: green;
    border: none;
    padding: 15px;
    color: white;
    border-radius: 10px;
    margin: 15px auto;
}

/* Styling for Forms */
.formInput label {
    display: block;
    padding: 5px 0;
}
.formInput input {
    border: none;
    width: 100%;
    height: 25px;
}
#signIn{
position: relative;
display: none;
z-index: 1;
}
#signInpbtn{
display:none;
}
#blackout{
position: absolute;
display: none;
width: 100%;
height: 100%;
opacity: 95%;
background: black;
}
#signupForm{
position: relative;
z-index: -1;
}
/* nav{
display: none;
} */
/* browse game */

#games {
    display: flex;
    flex-direction: row;
  text-align: center;
  justify-content: center;
  max-width: 90%;
  flex-wrap: wrap;
  margin-left: 5%;
  
  
  
  }
  #over{
    display: flex;
    flex-direction: row;
  
  }
  li {
    list-style: none;
    }
  #listen{
      max-width: 310px;
    width: 18%;
    height: 75%;
    background-color: white;
    margin-left: 19px;
    margin-top: 75px;
    border-radius: 10px;
    position: fixed;
  
  }
  header{
  width: 100%;
  height: 70px;
  background-color: gray;
  position: fixed;
  }
  
  #Spilunderside{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
  }
  #frindlist{
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 1080px;
    width:350px;
  
  
  }
  #gamesliste{
    margin: 20px;
  
  }
  h1{
    text-align: center;
  }
  #games img{
    height: 300px;
    width: 200px;
  }
  #sog{
    -webkit-appearance: none;
    margin-left: 30%;
  padding: 20px;
  width: 400px;
  border-color: gray;
  border-radius: 50px;
  font-size: 20px;
  }
  h2{ margin-left: 13%;
  }
  #userface{
    background-color: white;
    height: 50px;
    width: 50px;
    margin-left: 93%;
    margin-top: 0.7%;
    border-radius: 50px;
  
  }
  