/* Generic Styles */
body {
    font-family: arial;
    margin: 0;
}
#tabbar {
    margin-bottom: 15px;
}
nav#tabbar a, .formInput {
    color: white !important;
}
.text-center {
    text-align: center;
}

/* Style for Signup Form */
div.column-50 { /* Kolonner til Sign Up form */
    width: 49%;
    display: inline-grid;
}
#login { /* Centrer login formular */
    display: block;
    margin: 0 auto;
}
nav#tabbar, .signupForm {
    background: #525252;
    padding: 15px;
}
.signupForm, .formInput input {
    border-radius: 10px;
}
#signupbtn {
    background: green;
    border: none;
    padding: 15px;
    color: white;
    border-radius: 10px;
    display: block;
    margin: 15px auto;
}

/* Styling for Forms */
.formInput label {
    display: block;
    padding: 5px 0;
}
.formInput input {
    border: none;
    width: 100%;
    height: 25px;
}


/* Generic Styles #profile */

#navn{
    -webkit-appearance: none;
    padding: 15px;
    color: white;
    border-radius: 10px;
    display: block;
   
}
    
#frede{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#setProfile{
    -webkit-appearance: none;
    padding: 15px;
    color: white;
    border-radius: 10px;
    display: block;
    
    
    
}
/* ------------firebase login ui-------------- */
